@page "/SpecificTeamDetails/{TeamId:guid}"
@rendermode InteractiveServer   // sætter signalR-connection op

<section class="specific-team-details">
    <h1 class="page-title"> Hold @Team.Number - @Team.Name - @Team.DayOfWeek - @Team.ScheduledTime</h1>

    <br />

    <table class="table table-light">
        <thead class="table-primary">            
            <tr>
                <th></th>
                @foreach (var date in TeamDanceDates)
                {
                    <th>@date</th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var relation in Relations)
            {
                <tr>
                    
                    <td>@relation.DancerName</td>
                    @foreach (var date in TeamDanceDates)
                    {
                        <td>
                            <button type="button"
                                    @onclick="(() => ChangeAttendanceStatus(relation.DancerId, date))"
                                    class=" btn btn-outline-primary"/>
                            @(relation.Attendances[date] ? "✔" : "✖")
                        </td>
                    } 
                </tr>
            }
        
        </tbody>
    </table>
</section> 