@page "/SpecificTeamDetails/{TeamId:guid}"
@rendermode InteractiveServer   // sætter signalR-connection op

<style>
    .attendance-button {
        position: relative;
        width: 40px;
        height: 40px;
        padding: 0;
        border: 1px solid #000; /* Sort kant */
        background-color: #fff; /* Hvid baggrund */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .checkmark {
        position: absolute;
        font-size: 24px;
        color: #F9B9DA; /* Lyserød farve */
    }

    /* Tilføjet CSS-klasse for at gøre den øverste række lyserød */
    .header-pink {
        background-color: #F9B9DA;
    }
</style>

<section class="specific-team-details">
    <h1 class="page-title"> Hold @Team.Number - @Team.Name </h1>

    <br />

    <table class="table table-light">
        <!-- Tilføjet CSS-klasse til thead for at gøre den øverste række lyserød -->
        <thead class="header-pink">            
            <tr>
                <th></th>
                @foreach (var date in TeamDanceDates)
                {
                    <th>@date.ToString("dd/MM")</th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var relation in Relations)
            {
                <tr>                    
                    <td>@relation.DancerName</td>
                   
                    @foreach(var att in relation.Attendances)
                    {
                        <td>
                            <button type="button"
                                    @onclick="(() => ChangeAttendanceStatus(relation.DancerId, att.Date, att.IsPresent ))"
                                    class=" btn btn-outline-primary attendance-button">
                            <span class="checkmark" style="display: @(att.IsPresent ? "inline" : "none")">✔</span>
                            </button>                           
                        </td>
                    }
                </tr>
            }

            <button type="button" 
                    @onclick="(() => SaveChanges())"
                   
                    style="width: 100px; height: 50px;margin:10px">
                Gem
            </button>
        
        </tbody>
    </table>
</section>