@page "/SpecificTeamDetails/{TeamId:guid}"
@rendermode InteractiveServer   // sætter signalR-connection op

<style>
    .attendance-button {
        position: relative;
        width: 40px;
        height: 40px;
        padding: 0;
        border: 1px solid #007bff;
        background-color: #f8f9fa;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .checkmark {
        position: absolute;
        font-size: 24px;
        color: #007bff;
    }
</style>

<section class="specific-team-details">
    <h1 class="page-title"> Hold @Team.Number - @Team.Name - @Team.DayOfWeek - @Team.ScheduledTime</h1>

    <br />

    <table class="table table-light">
        <thead class="table-primary">            
            <tr>
                <th></th>
                @foreach (var date in TeamDanceDates)
                {
                    <th>@date</th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var relation in Relations)
            {
                <tr>                    
                    <td>@relation.DancerName</td>
                   
                    @foreach(var att in relation.Attendances)
                    {
                        <td>
                            <button type="button"
                                    @onclick="(() => ChangeAttendanceStatus(relation.DancerId, att.Date, att.IsPresent ))"
                                    class=" btn btn-outline-primary attendance-button">
                            <span class="checkmark" style="display: @(att.IsPresent ? "inline" : "none")">✔</span>
                            </button>                           
                        </td>
                    }
                </tr>
            }

            <button type="button"
                    @onclick="(() => SaveChanges())"
                    class="btn btn-outline-primary"
                    style="width: 100px; height: 50px;">
                Gem
            </button>


        
        </tbody>
    </table>
</section> 