@page "/TeamOverview"
@attribute [StreamRendering(true)]

<PageTitle>@Title</PageTitle>
<h1>Hold-oversigt</h1>

@if (Teams == null)
{
    <p><em>Loading...</em></p>
}

<!-- Eksempler på inline-styles -->

<table class="table table-light" style="background-color: #F9B9DA;"> 
    <thead class="table-primary" style="background-color: #F9B9DA;">
        <tr style="background-color: #F9B9DA;">
            <th style="background-color: #F9B9DA;"></th>
            <th style="background-color: #F9B9DA;">Holdnavn</th>
            <th style="background-color: #F9B9DA;">Nummer</th>
           
            <th style="background-color: #F9B9DA;">Tidspunkt</th>
            <th style="background-color: #F9B9DA;">Elever</th>
            <th style="background-color: #F9B9DA;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Teams)
        {
            <tr>
                <td></td>
                <td>@team.Name</td>
                <td>@team.Number</td>
               
                <td>@team.ScheduledTime</td>
                <td>
                    <a href="@($"SpecificTeamDetails/{team.TeamId}")" class="btn btn-outline-primary btn-sm mb-1" 
                    style="border-color: #F9B9DA; color: black;"> Til holdet </a>
                </td>
            </tr>            
        }

    </tbody>
</table>
